PORT=4000
HORIZON_URL=https://horizon-testnet.stellar.org
USDC_ISSUER=GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5
# Your G... address to receive Premium USDC payments (Freighter testnet account)
SUBSCRIPTION_WALLET_G=GCXMBGS6EC7RZAHRMUR44QIMZGYRQ6THMCZ6MCJF3JWY6OCIMC2XEWXX
